= simple_form_for(@verse) do |f|
  = f.error_notification

  .form-inputs
    = f.input :vote_count, as: :hidden
    = f.association :chapter, as: :hidden
    = f.association :book, as: :hidden
    = f.input :content
    = f.association :user, as: :hidden
    = f.input :order_id, as: :hidden

  .form-actions
    = f.button :submit, "Submit Translation"
