%h1 Listing verses

%table
  %tr
    %th Vote count
    %th Chapter
    %th Book
    %th Content
    %th User
    %th
    %th
    %th

  - @verses.each do |verse|
    %tr
      %td= verse.vote_count
      %td= verse.chapter
      %td= verse.book
      %td= verse.content
      %td= verse.user
      %td= link_to 'Show', verse
      %td= link_to 'Edit', edit_verse_path(verse)
      %td= link_to 'Destroy', verse, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Verse', new_verse_path
