%p#notice= notice

%p
  %b Vote count:
  = @verse.vote_count
%p
  %b Chapter:
  = @verse.chapter
%p
  %b Book:
  = @verse.book
%p
  %b Content:
  = @verse.content
%p
  %b User:
  = @verse.user

= link_to "Translate", controller: "verses", action: "translate", id: @verse
\|
= link_to 'Back', verses_path
