%p#notice= notice

%p
  %b Number:
  = @chapter.number_id
%p
  %b Book:
  = @chapter.book.name

%ul
  - @accurate_chapter.each do |verse|
    %li
      =precede "#{verse.order_id} " do
        = link_to verse.content, verse_path(verse)

= link_to 'Edit', edit_chapter_path(@chapter)
\|
= link_to 'Back', chapters_path
